@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-deep: 120 20% 99%;
    --background-mid: 120 7% 97%;
    --background-front: 120 3% 73%;
    --primary: 18 60% 50%;
    --primary-foreground: 120 20% 99%;
    --accent: 18 60% 50%;
    --text-primary: 120 5% 5%;
    --danger: 354 100% 22%;
  }
  .dark {
    --background-deep: 120 10% 4%;
    --background-mid: 120 9% 10%;
    --background-front: 120 3% 15%;
    --primary: 18 60% 50%;
    --primary-foreground: 120 55% 95%;
    --accent: 18 60% 50%;
    --text-primary: 120 98% 98%;
    --danger: 354 100% 22%;
  }
}
