@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-deep: 0 0% 99%;
    --background-mid: 0 0% 100%;
    --background-front: 0 0% 84%;
    --background-bright: 23 31% 36%;
    --primary: 37 60% 43%;
    --secondary: 25 65% 50%;
    --primary-foreground: 74 0% 100%;
    --accent: 154 50% 52%;
    --text-primary: 120 5% 5%;
    --text-secondary: 47 8% 43%;
    --danger: 354 100% 22%;
    --danger-foreground: 120 98% 98%;
    --secondary: 25 64% 42%;
  }
  .dark {
    --background-deep: 23 3% 8%;
    --background-mid: 23 7% 12%;
    --background-front: 23 8% 16%;
    --background-bright: 23 31% 36%;
    --primary: 37 60% 43%;
    --secondary: 25 65% 50%;
    --primary-foreground: 74 20% 15%;
    --accent: 155 39% 55%;
    --text-primary: 51 29% 83%;
    --text-secondary: 47 8% 63%;
    --danger: 354 100% 52%;
    --danger-foreground: 120 98% 98%;
    --secondary: 25 64% 42%;
  }
}
/* dark primary hex : #B2D63D */

.no-highlight {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Chrome/Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.formationSvg442 {
  background-image: url("_public/pppixelate\ \(7\).svg");
}

.formationSvg433 {
  background-image: url("_public/pppixelate\ \(6\).svg");
}

.formationSvg352 {
  background-image: url("_public/pppixelate\ \(8\).svg");
}

.grainybg {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.95' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 102px;
  opacity: 0.15;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
