@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: 60 8% 95%;
    --text-100: 84 10% 90%;
    --text-200: 78 10% 80%;
    --text-300: 78 8% 70%;
    --text-400: 80 9% 60%;
    --text-500: 81 9% 50%;
    --text-600: 80 9% 40%;
    --text-700: 78 8% 30%;
    --text-800: 78 10% 20%;
    --text-900: 84 10% 10%;
    --text-950: 90 8% 5%;

    --background-50: 60 8% 95%;
    --background-100: 60 0% 93%;
    --background-200: 60 10% 80%;
    --background-300: 60 8% 70%;
    --background-400: 60 9% 60%;
    --background-500: 60 9% 50%;
    --background-600: 60 9% 40%;
    --background-700: 60 8% 30%;
    --background-800: 60 10% 20%;
    --background-900: 60 10% 10%;
    --background-950: 60 8% 5%;

    --primary-50: 77 28% 95%;
    --primary-100: 76 29% 90%;
    --primary-200: 74 29% 80%;
    --primary-300: 75 29% 70%;
    --primary-400: 74 29% 60%;
    --primary-500: 74 29% 50%;
    --primary-600: 74 29% 40%;
    --primary-700: 75 29% 30%;
    --primary-800: 74 29% 20%;
    --primary-900: 76 29% 10%;
    --primary-950: 69 28% 5%;

    --secondary-50: 72 38% 95%;
    --secondary-100: 74 41% 90%;
    --secondary-200: 74 41% 80%;
    --secondary-300: 74 41% 70%;
    --secondary-400: 74 41% 60%;
    --secondary-500: 74 41% 50%;
    --secondary-600: 74 41% 40%;
    --secondary-700: 74 41% 30%;
    --secondary-800: 74 41% 20%;
    --secondary-900: 74 41% 10%;
    --secondary-950: 72 38% 5%;

    --accent-50: 74 52% 95%;
    --accent-100: 76 53% 90%;
    --accent-200: 74 51% 80%;
    --accent-300: 74 52% 70%;
    --accent-400: 74 51% 60%;
    --accent-500: 74 51% 50%;
    --accent-600: 74 51% 40%;
    --accent-700: 74 52% 30%;
    --accent-800: 74 51% 20%;
    --accent-900: 76 53% 10%;
    --accent-950: 74 52% 5%;
  }
  .dark {
    --text-50: 90 8% 5%;
    --text-100: 84 10% 10%;
    --text-200: 78 10% 20%;
    --text-300: 78 8% 30%;
    --text-400: 80 9% 40%;
    --text-500: 81 9% 50%;
    --text-600: 80 9% 60%;
    --text-700: 78 8% 70%;
    --text-800: 78 10% 80%;
    --text-900: 84 10% 90%;
    --text-950: 60 8% 95%;

    --background-50: 60 8% 5%;
    --background-100: 60 15% 6%;
    --background-200: 60 10% 20%;
    --background-300: 60 8% 30%;
    --background-400: 60 9% 40%;
    --background-500: 60 9% 50%;
    --background-600: 60 9% 60%;
    --background-700: 60 8% 70%;
    --background-800: 60 10% 80%;
    --background-900: 60 10% 90%;
    --background-950: 60 8% 95%;

    --primary-50: 69 28% 5%;
    --primary-100: 76 29% 10%;
    --primary-200: 74 29% 20%;
    --primary-300: 75 29% 30%;
    --primary-400: 74 29% 40%;
    --primary-500: 74 29% 50%;
    --primary-600: 74 29% 60%;
    --primary-700: 75 29% 70%;
    --primary-800: 74 29% 80%;
    --primary-900: 76 29% 90%;
    --primary-950: 77 28% 95%;

    --secondary-50: 72 38% 5%;
    --secondary-100: 74 41% 10%;
    --secondary-200: 74 41% 20%;
    --secondary-300: 74 41% 30%;
    --secondary-400: 74 41% 40%;
    --secondary-500: 74 41% 50%;
    --secondary-600: 74 41% 60%;
    --secondary-700: 74 41% 70%;
    --secondary-800: 74 41% 80%;
    --secondary-900: 74 41% 90%;
    --secondary-950: 72 38% 95%;

    --accent-50: 74 52% 5%;
    --accent-100: 76 53% 10%;
    --accent-200: 74 51% 20%;
    --accent-300: 74 52% 30%;
    --accent-400: 74 51% 40%;
    --accent-500: 74 51% 50%;
    --accent-600: 74 51% 60%;
    --accent-700: 74 52% 70%;
    --accent-800: 74 51% 80%;
    --accent-900: 76 53% 90%;
    --accent-950: 74 52% 95%;
  }
}
